<div class="container">
    <!-- <nav class="navbar navbar-default navbar-fixed-top navcarbox" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
                <a class="navbar-brand" style="margin-left: 10px; margin-top: 1px;" [routerLink]="['']">
                    <img width="100px" class="img-responsive" src="assets/img/mebooks.png">
                </a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    <li *ngIf="!accessToken"><a href="#" data-toggle="modal" data-target="#myModal">ลงชื่อเข้าใช้</a></li>
                    <li class="dropdown" *ngIf="accessToken">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">บัญชีผู้ใช้ <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" [routerLink]="['profile']"><i class="fa fa-smile-o"></i>&nbsp; สวัสดี {{displayName}}</a></li>
                            <li><a href="#" [routerLink]="['sell']"><i class="fa fa-briefcase"></i>&nbsp; รายการฝากขาย</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" (click)="this.auth.signOut()"><span class="glyphicon glyphicon-off"></span>&nbsp; ออกจากระบบ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" style="margin-left: 10px; margin-top: 1px;" [routerLink]="['']">
                    <img width="100px" class="img-responsive" src="assets/img/mebooks.png">
                </a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-sm-3 col-md-3">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="ค้นหาหนังสือ" name="search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    <li *ngIf="!accessToken"><a href="#" data-toggle="modal" data-target="#myModal">ลงชื่อเข้าใช้</a></li>
                    <li class="dropdown" *ngIf="accessToken">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">สวัสดี {{displayName}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" [routerLink]="['profile']"><i class="fa fa-smile-o"></i>&nbsp; จัดการบัญชีของฉัน</a></li>
                            <li><a href="#" [routerLink]="['sell']"><i class="fa fa-briefcase"></i>&nbsp; รายการขายของฉัน</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" (click)="this.auth.signOut()"><span class="glyphicon glyphicon-off"></span>&nbsp; ออกจากระบบ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!--Modal Singin-->
        <div id="loginbox" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="img-modal" src="assets/img/mebooks.png">
            </div>
            <div class="modal-body">
                <div style="text-align: center">
                    <button class="btn btn-primary btn-lg btn3d" (click)="facebook()"> FACEBOOK </button>
                </div>

                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or"><p>หรือ</p></span>
                </div>

                <form (ngSubmit)="login()" #memberLoginForm="ngForm">
                    <div class="form-group">
                        <label for="inputUsernameEmail">อีเมล</label>
                        <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Email" name="email" required [(ngModel)]="memberLogin.email" #email="ngModel">
                    </div>
                    <div class="form-group">
                        <a class="pull-right" href="#">ลืมรหัสผ่าน</a>
                        <label for="inputPassword">รหัสผ่าน</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required [(ngModel)]="memberLogin.password" #password="ngModel">
                    </div>
                    <p>ยังไม่มีบัญชีผู้ใช้ใช่ไหม? <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">ลงทะเบียนที่นี่</a></p>
                    <button type="submit" class="btn btn-primary">
                    เข้าสู่ระบบ
                  </button>

                </form>

            </div>
            <br>
        </div>

        <!-- Modal Signup -->
        <div class="modal-content" id="signupbox" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="img-modal" src="assets/img/mebooks.png">
            </div>
            <div class="modal-body">
                <h3>สมัครสมาชิก</h3>
                <form (ngSubmit)="signup()" #memberSignupForm="ngForm">
                    <div class="form-group">
                        <label for="inputUsernameEmail">ชื่อผู้ใช้</label>
                        <input type="text" class="form-control" id="inputUsernameEmail" placeholder="Username" name="username" required [(ngModel)]="memberSignup.username" #username="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="inputUsernameEmail">อีเมล</label>
                        <input type="text" class="form-control" id="inputUsernameEmail" placeholder="อีเมล" name="email" required [(ngModel)]="memberSignup.email" #email="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">รหัสผ่าน</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="อย่างน้อย 6 ตัว" name="password" required [(ngModel)]="memberSignup.password" #password="ngModel">
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword">ยืนยันรหัสผ่าน</label>
                        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="อย่างน้อย 6 ตัว" name="confirmpassword" required [(ngModel)]="memberSignup.confirmpassword" #confirmpassword="ngModel">
                    </div>
                    <button type="submit" class="btn btn-primary">
                    ลงทะเบียน
                  </button>
                </form>
                <br>
                <p>ถ้ามีบัญชีผู้ใช้แล้ว <a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">เข้าสู่ระบบที่นี่</a>
            </div>
            <br>
        </div>
    </div>
</div>

<router-outlet></router-outlet>