<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" style="margin-left: 10px; margin-top: 1px;" href="#" [routerLink]="['/admin/dashboard']">
                <img width="100px" class="img-responsive" src="assets/img/mebooks.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="GET" role="search">
                <div class="form-group">
                    <input type="text" name="q" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" [routerLink]="['']" target="_blank">Visit Web</a></li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Account
						<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" [routerLink]="['/admin/account']"><i class="fa fa-user"></i> {{displayName}}</a></li>
                        <li class="divider"></li>
                        <li><a href="#" (click)="this.auth.signOut()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked admin-menu">
            <li><a href="#" [routerLink]="['/admin/dashboard']"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
            <li><a href="#" [routerLink]="['/admin/module']"><i class="fa fa-list-alt fa-fw"></i>Module</a></li>
            <li><a href="#" [routerLink]="['/admin/member']"><i class="fa fa-bar-chart-o fa-fw"></i>Member</a></li>
            <li><a href="#" [routerLink]="['/admin/banner']"><i class="fa fa-table fa-fw"></i>Banner</a></li>
            <li><a href="#" [routerLink]="['/admin/book']"><i class="fa fa-tasks fa-fw"></i>Books</a></li>
            <li><a href="#" [routerLink]="['/admin/sell']"><i class="fa fa-calendar fa-fw"></i>Sell</a></li>
            <li>
                <a data-toggle="collapse" data-target="#buy" class="collapsed active"><i class="fa fa-book fa-fw"></i>Buy <span class="caret"></span></a>
                <ul class="nav admin-menu collapse" id="buy">
                    <li><a href="#" [routerLink]="['/admin/buy']">Payment</a></li>
                    <li><a href="#" [routerLink]="['/admin/transport']">Transportation</a></li>
                </ul>
            </li>
            <li><a href="#" data-target-id="applications" [routerLink]="['/admin/Inbox']"><i class="fa fa-pencil fa-fw"></i>Inbox</a></li>
            <li><a href="#" data-target-id="settings" [routerLink]="['/admin/setting']"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
        </ul>
    </div>

    <div class="col-md-10 content">
        <router-outlet></router-outlet>
    </div>
</div>