<div class="panel panel-default">
    <div class="panel-heading">
        Add User Admin
    </div>
    <div class="panel-body">
        <form (ngSubmit)="signup()" #adminSignupForm="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" id="inputUsername" placeholder="ชื่อ" name="fname" required [(ngModel)]="admin.fname" #fname="ngModel" style="width:78%;">
                <div [hidden]="fname.valid || fname.pristine" class="alert alert-danger" style="width:78%;">กรุณากรอกชื่อ</div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="inputUsername" placeholder="นามสกุล" name="lname" required [(ngModel)]="admin.lname" #lname="ngModel" style="width:78%;">
                <div [hidden]="lname.valid || lname.pristine" class="alert alert-danger" style="width:78%;">กรุณากรอกชื่อนามสกุล</div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="inputEmail" placeholder="อีเมล" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" required [(ngModel)]="admin.email" #email="ngModel" style="width:78%;">
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger" style="width:78%;">
                    <div [hidden]="!email.hasError('required')">กรุณากรอกอีเมล</div>
                    <div [hidden]="!email.hasError('pattern')">รูปแบบอีเมลควรเป็น
                        <small>
                            <b>joe@abc.com</b>
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="รหัสผ่านอย่างน้อย 6 ตัว" minlength="6" [(ngModel)]="admin.password" name="password" #password="ngModel" style="width:78%;">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger" role="alert" style="width:78%;">
                    <div [hidden]="!password.hasError('minlength')">รหัสผ่านอย่างน้อย 6 ตัวอักษร</div>

                </div>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="inputConfirmPassword" placeholder="ยืนยันรหัสผ่าน" validateEqual="password" name="confirmPassword" required [(ngModel)]="admin.confirmPassword" #confirmPassword="ngModel" style="width:78%;">
                <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger" style="width:78%;">
                    รหัสผ่านไม่ต้องกัน
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!adminSignupForm.form.valid"> Register</button>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        List Users Admin
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <div class="table-responsive">
                <table class="table table-striped" border="0">
                    <tbody *ngIf="countUser != 0">
                        <tr *ngFor="let admin of adminList">
                            <th>{{admin.value.account.name}}</th>
                            <th>{{admin.value.account.email}}</th>
                            <th>
                                <button class="btn btn-info btn-xs" (click)="getEditAdmin(admin.key)" data-toggle="modal" data-target="#myModal">
                                    edit
                                </button>
                            </th>
                            <th>
                                <button class="btn btn-danger btn-xs" (click)="removeAdmin(admin.key)">
                                    delete
                                </button>
                            </th>
                        </tr>
                        <tr *ngIf="countUser == 0">
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                            <th>-</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- EDIT FORM -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">

        <!--Modal Singin-->
        <div id="editAdminbox" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <img class="img-modal" src="assets/img/mebooks.png">
            </div>
            <div class="modal-body">
                <form (ngSubmit)="submitEditAdmin()" #editAdminForm="ngForm">

                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUsername" placeholder="ชื่อ" name="fname" required [(ngModel)]="editAdmin.fname" #fname="ngModel" style="width:78%;">
                        <div [hidden]="fname.valid || fname.pristine" class="alert alert-danger" style="width:78%;">กรุณากรอกชื่อ</div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUsername" placeholder="นามสกุล" name="lname" required [(ngModel)]="editAdmin.lname" #lname="ngModel" style="width:78%;">
                        <div [hidden]="lname.valid || lname.pristine" class="alert alert-danger" style="width:78%;">กรุณากรอกชื่อนามสกุล</div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="inputEmail" placeholder="อีเมล" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" required [(ngModel)]="editAdmin.email" #email="ngModel" style="width:78%;">
                        <div [hidden]="email.valid || email.pristine" class="alert alert-danger" style="width:78%;">
                            <div [hidden]="!email.hasError('required')">กรุณากรอกอีเมล</div>
                            <div [hidden]="!email.hasError('pattern')">รูปแบบอีเมลควรเป็น
                                <small>
                                    <b>joe@abc.com</b>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="btn-account">
                        <div class="btn btn-outline-success" id="btn-account">
                            <button type="submit" class="btn btn-success" [disabled]="!editAdminForm.form.valid" data-dismiss="myModal">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>