<section class="section-white">
    <div class="container">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" *ngFor="let banners of fileUploads;let i = index" [attr.data-slide-to]="i" [ngClass]="{'active': i == '0'}"></li>
            </ol>

            <div class="carousel-inner carousel-zoom">
                <div *ngFor="let banners of fileUploads;let i = index" [ngClass]="{'item': i != null,'active': i == '0'}">
                    <img class="img-responsive" src="{{banners.url}}" alt="{{banners.name}}">
                </div>
            </div>
        </div>
    </div>
</section>